<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>HackITall</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/styles/main.css" />
	</head>
	<body>
		<div class="page-wrap">
			<div class="vend-container">
				<div class="vend-outer">
					<div class="return-box" id="return"></div>
					<div class="display-box" id="displayBox"></div>
					<div class="pay-box" id="pay"></div>
					<div id="productCount" class="product-count"></div>
					<div class="coin-box">
						<div class="coin-outter" id="five">
							<span class="coin">5</span>
						</div>
						<div class="coin-outter" id="ten">
							<span class="coin">10</span>
						</div>
						<div class="coin-outter" id="twenty">
							<span class="coin">20</span>
						</div>
					</div>
					<div class="vend-back">
						<div class="product-row">
							<div class="product-box prime-box" id="primeBox">
								<div class="product prime" id="prime">
									<p class="product-text">Prime</p>
								</div>
							</div>
							<div class="price-box prime-price">
								<span>(A1) 75$</span>
							</div>

							<div class="product-box antivirus-box" id="antivirusBox">
								<div class="product antivirus" id="antivirus">
									<p class="product-text">Antivirus</p>
								</div>
							</div>
							<div class="price-box antivirus-price">
								<span>(A2) 35$</span>
							</div>

							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
						</div>
						<div class="product-row">
							<div class="product-box phantom-box" id="phantomBox">
								<div class="product phandom" id="phantom">
									<p class="product-text">Phantom</p>
								</div>
							</div>
							<div class="price-box phantom-price">
								<span>(B3) 50$</span>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
						</div>
						<div class="product-row">
							<div class="product-box password-box" id="passwordBox">
								<div class="product password" id="password">
									<p class="product-text">Password</p>
								</div>
							</div>
							<div class="price-box password-price">
								<span>(C4) 50$</span>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
						</div>
						<div class="product-row">
							<div class="product-box optimizer-box" id="optimizerBox">
								<div class="product optimizer" id="optimizer">
									<p class="product-text">Optimizer</p>
								</div>
							</div>
							<div class="price-box optimizer-price">
								<span>(D2) 10$</span>
							</div>

							<div class="product-box speedup-box" id="speedupBox">
								<div class="product phandom" id="speedup">
									<p class="product-text">Speedup</p>
								</div>
							</div>
							<div class="price-box speedup-price">
								<span>(D4) 25$</span>
							</div>

							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
						</div>
						<div class="product-row">
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
							<div class="spiral">
								<div class="inner-spiral">
									<div class="inner-spiral"></div>
								</div>
							</div>
						</div>
						<div class="vend-glass"></div>
					</div>
					<div class="touch-pad">
						<div class="button">
							<p>A1</p>
						</div>
						<div class="button">
							<p>A2</p>
						</div>
						<div class="button">
							<p>B3</p>
						</div>
						<div class="button">
							<p>C4</p>
						</div>
						<div class="button">
							<p>D2</p>
						</div>
						<div class="button">
							<p>D4</p>
						</div>
					</div>

					<div class="card-buttom" id="card-button">
						<p>CARD</p>
					</div>

					<div class="rest-buttom">
						<p>REST</p>
					</div>

					<div class="grab-box"></div>
				</div>
			</div>
		</div>

		<div class="admin-side">
			<p style="text-align: center;">
				<button
					class="btn btn-primary"
					type="button"
					data-toggle="collapse"
					data-target="#collapseExample"
					aria-expanded="false"
					aria-controls="collapseExample"
				>
					Admin panel
				</button>
			</p>
			<div class="collapse" id="collapseExample">
				<div class="card card-body">
					<div class="form-group">
						<label for="admin-product-prime">Avira Prime</label>
						<input type="text" class="form-control product-input" id="admin-product-prime" />
					</div>
					<div class="form-group">
						<label for="admin-product-antivirus">Antivirus PRO</label>
						<input type="text" class="form-control product-input" id="admin-product-antivirus" />
					</div>
					<div class="form-group">
						<label for="admin-product-phantom">Phantom VPN</label>
						<input type="text" class="form-control product-input" id="admin-product-phantom" />
					</div>
					<div class="form-group">
						<label for="admin-product-password">Password Manager</label>
						<input type="text" class="form-control product-input" id="admin-product-password" />
					</div>
					<div class="form-group">
						<label for="admin-product-optimizer">Optimizer</label>
						<input type="text" class="form-control product-input" id="admin-product-optimizer" />
					</div>
					<div class="form-group">
						<label for="admin-product-speedup">System Speedup</label>
						<input type="text" class="form-control product-input" id="admin-product-speedup" />
					</div>
					<button id="update-stocks" class="btn btn-primary">Update stocks</button>

					<canvas id="per-day-chart" class="mt-5" style="height: 500px;"></canvas>
				</div>
			</div>
		</div>

		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
